<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista rutas CV</title>
    <link rel='stylesheet' href='/stylesheets/lista.css' />
    <!-- CSS files -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/footer.css'>
    <link rel="stylesheet" href='/stylesheets/navbar.css'>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>

    <%- include('partials/navbar.ejs') %>

    <section id="ppal-lista">      

      <div id="columna-filtros">
        <h3 id="titulo-filtros">Filtros</h3>

          <form action="/lista" method="POST">

            <p class="subtitulo-filtros">Por provincia:</p>
            <div class="tarjeta-filtro">
              <div class="div-input">
                <input type="checkbox" name="Alicante" >
                <label for="Alicante">Alicante</label>
              </div>
              <div class="div-input">
                <input type="checkbox" name="Castell칩n" >
                <label for="Castell칩n">Castell칩n</label>
              </div>
              <div class="div-input">
                <input type="checkbox" name="Valencia" >
                <label for="Valencia">Valencia</label>
              </div>
            </div>

            <p class="subtitulo-filtros">Por nivel de dificultad:</p>
            <div class="tarjeta-filtro">
              <div class="div-input">
                <input type="checkbox" name="Baja" >
                <label for="Baja">Baja</label>
              </div>
              <div class="div-input">
                <input type="checkbox" name="Media" >
                <label for="Media">Media</label>
              </div>
              <div class="div-input">
                <input type="checkbox" name="Alta" >
                <label for="Alta">Alta</label>
              </div>
            </div>

            <p class="subtitulo-filtros">Ordenar por distancia:</p>
            <div class="tarjeta-filtro">
              <div class="div-input">
                <input type="checkbox" name="distancia" >
                <label for="distancia">Distancia</label>
              </div>
            </div>

            <div id="botones">
              <button class="boton-filtro">Filtrar</button>
              <% if ( contador[0].total != 21) {  %> 
                <button class="boton-filtro" onclick="location.href='/lista'">Borrar filtro</button>
              <% } %>
            </div>

          </form>

      </div>

      <div id="columna-lista">

        <div id="lista-titulo">
          <h1>Listado de las rutas senderistas de la CV</h1>
        </div>
        
        <div id="lista-resultados">
        <% if ( contador[0].total == 1) {  %> 
          <h3>Se ha encontrado <%= contador[0].total %> resultado:</h3>
        <% } else { %>
          <h3>Se han encontrado <%= contador[0].total %> resultados:</h3>
        <% } %>
        </div>

        <div id="listado-tarjetas">

          <% for (let i=0; i<rutas.length; i++){  %>

            <div class="tarjeta-ruta">

              <div id="img-ruta">

                <img id="foto-ruta" src=" <%= imagen[i].url_imagen %> " alt="">

                <% if( rutas[i].dificultad == 'Alta' ){ %>
                  <p class="ruta-dif" style="background-color: rgb(253, 111, 111);"> <%= rutas[i].dificultad %> </p>
                <% } else if( rutas[i].dificultad == 'Baja' ){ %>
                  <p class="ruta-dif" style="background-color: lightgreen;"> <%= rutas[i].dificultad %> </p>
                <% } else { %>
                  <p class="ruta-dif" style="background-color: lightblue;"> <%= rutas[i].dificultad %> </p>
                <% } %>
              </div>

              <div id="info-ruta">

                <h3 id="nombre-ruta"> <%= rutas[i].nombre_ruta %> </h3>
                <p class="texto-ruta"><%= rutas[i].parque_natural %> </p>
                <div id="responsive-extra">
                <p class="texto-ruta"><i class="fa-sharp fa-solid fa-location-dot i-ruta"></i> <%= rutas[i].provincia %> </p>
                <p class="texto-ruta"><i class="fa-solid fa-person-hiking i-ruta"></i> <%= rutas[i].distancia %> km</p>
                </div>
                <br>
                <a id="a-ruta" href="/ruta/<%= rutas[i].id %>">Ver m치s</a>

              </div>

            </div>

          <% } %>

        </div>
      </div>

    </section>

    <%- include('partials/footer.ejs') %>

  </body>
</html>
