<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas</title>
    <link rel='stylesheet' href='/stylesheets/ruta.css' />
    <link rel='stylesheet' href='/stylesheets/popup.css' />
    <!-- CSS files -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/footer.css'>
    <link rel="stylesheet" href='/stylesheets/navbar.css'>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <section id="ppal-ruta">

      <div id="titulos-ruta">
        <h1 id="n_ruta"> <%= info[0].nombre_ruta  %> </h1>
        <p id="n_parque"> <%= info[0].parque_natural  %> </p>
        <p id="nombre_archivo" style="display: none"> <%= info[0].gpx_file  %> </p>
        <p id="latitud" style="display: none"> <%= info[0].latitud  %> </p>
        <p id="longitud" style="display: none"> <%= info[0].longitud  %> </p>
      </div>


      <div id="mapa-info">

        <div id='map'></div>

        <div id="info-ruta">

          <div id="info-weather">

            <div id="div-tiempo-actual">
              <p>Tiempo actual:</p>
              <div id="tiempo-actual2">
                <i id="icono_hoy2" class="fa-solid "></i>
                <p id="temp_hoy2"></p>
              </div>
            </div>

            <div id="div-pronostico">
              <p>Consulta la previsión de los próximos días:</p>
              <button id="boton_tiempo" onclick="abrirPopup('popup_tiempo')">Previsión meteorológica</button>
            </div>            

            <!-- CONTENIDO POP-UP TIEMPO -->
            <div id="popup_tiempo">
              <div id="ventana-tiempo">
                <div id="div-cerrar">
                  <button id="close-btn" onclick="cerrarPopup('popup_tiempo')"><i class="fa-solid fa-xmark"></i></i></button>
                </div>
                
                <div id="div-tiempo-hoy">              
                  <h3 id="municipio"></h3>
                  <div id="tiempo-hoy-2">
                    <i id="icono_hoy" class="fa-solid "></i>
                    <p id="temp_hoy"></p>
                  </div>
                  <p id="tiempo_hoy"></p>
                </div>

                <table id="tabla-tiempo">
                  <tr class="row-tiempo">
                    <td class="data-tiempo" id="dia1_fecha"></td>
                    <td class="data-tiempo" id="dia1_temp"></td>
                    <td class="data-tiempo"><i id="dia1_tiempo" class="icono_tabla fa-solid "></i></td>
                  </tr>
                  <tr class="row-tiempo">
                    <td class="data-tiempo" id="dia2_fecha"></td>
                    <td class="data-tiempo" id="dia2_temp"></td>
                    <td class="data-tiempo"><i id="dia2_tiempo" class="icono_tabla fa-solid "></i></td>
                  </tr>
                  <tr class="row-tiempo">
                    <td class="data-tiempo" id="dia3_fecha"></td>
                    <td class="data-tiempo" id="dia3_temp"></td>
                    <td class="data-tiempo"><i id="dia3_tiempo" class="icono_tabla fa-solid "></i></td>
                  </tr>
                  <tr class="row-tiempo">
                    <td class="data-tiempo" id="dia4_fecha"></td>
                    <td class="data-tiempo" id="dia4_temp"></td>
                    <td class="data-tiempo"><i id="dia4_tiempo" class="icono_tabla fa-solid "></i></td>
                  </tr>
                </table>

                <div id="div-alertas">
                  <p id="titulo-alertas">Alertas:</p>
                  <p id="sin-alertas">No hay alertas</p>
                  <p id="alarma-temp"></p>
                  <p id="tiempo_malo"></p>
                </div>
              </div>
            </div>
            <!-- FIN POP-UP tiempo -->

          </div>

          <table id="tabla-ruta">
            <tr class="row-ruta">
              <td class="data-ruta">Parque natural:</td>
              <td class="data-ruta"><%= info[0].parque_natural %></td>
            </tr>
            <tr class="row-ruta">
              <td class="data-ruta">Municipio:</td>
              <td class="data-ruta"><%= info[0].municipio %></td>
            </tr>
            <tr class="row-ruta">
              <td class="data-ruta">Provincia:</td>
              <td class="data-ruta"><%= info[0].provincia %></td>
            </tr>          
            <tr class="row-ruta">
              <td class="data-ruta">Distancia:</td>
              <td class="data-ruta"><%= info[0].distancia %> km </td>
            </tr>
            <tr class="row-ruta">
              <td class="data-ruta">Nivel de dificultad:</td>
              <td class="data-ruta"><%= info[0].dificultad%> </td>
            </tr>          
            <tr class="row-ruta">
              <td class="data-ruta">Duración (aprox.):</td>
              <td class="data-ruta"><%= info[0].duracion %> </td>
            </tr>          
          </table>

          <!-- <div id="botones-ruta">
            <button>Descarga</button>
            <div id="votos">

            </div>
          </div> -->

        </div>

      </div>


      <div id="fotos-botones">
        <div id="fotos">
          <% for (let i=0; i<img_ruta.length; i++){ %>
            <img src=" <%= img_ruta[i].url_imagen %> " alt="" class="img-foto" onclick="abrirPopup2('popup_fotos', '<%= img_ruta[i].url_imagen %>', '<%= img_ruta[i].atribucion %>' )" >
          <% } %>    
        </div>

        <div id="popup_fotos">
          <div id="div-cerrar2">
            <button id="close-btn2" onclick="cerrarPopup('popup_fotos')"><i class="fa-solid fa-xmark"></i></button>
          </div>
          <img id="foto" src="" alt="">
          <p id="atribucion-foto"></p>
        </div>

        <div id="botones-votos">
          <div id="botones">
            <button class="botones-ruta" onclick="cambio_mapa()">Cambio cartografía</button>
            <button class="botones-ruta"><i id="i-descarga" class="fa-solid fa-download"></i>Descarga</button>
          </div>
          <div id="div-votos">
            <p>¿Te gusta esta ruta?</p>
            <div id="votos">
              <a href="/ruta/like/<%= info[0].id %>"><i id="i-votoUp" class="fa-regular fa-thumbs-up"></i></a>
              <p><%= info[0].votos %></p>
              <a href="/ruta/dislike/<%= info[0].id %>"><i id="i-votoDown" class="fa-regular fa-thumbs-down"></i></a>
            </div>
          </div>
        </div>
      </div>



      <div id="comentarios-ruta">

        <div id="form-completo">
          <h3>Deja tu opinión sobre esta ruta:</h3>

          <form action="/ruta/<%= info[0].id %>" method="post" id="formulario-comentario">
            <div class="dato-comentario">
                <label for="nombre_completo">Nombre completo:</label>
                <input type="text" name="nombre_completo" placeholder="Nombre y apellidos" class="dato-input" style="width: 50%;" required>
            </div>
            <div class="dato-comentario">
                <label for="comentario">Comentario:</label>
                <textarea name="comentario" class="dato-input" placeholder="Escribe tu mensaje" cols="40" rows="5" required></textarea>
            </div>
            <div class="dato-comentario2">
              <input type="submit" id="boton-comentar" value="Comentar" required>
            </div>
          </form>
        </div>


        <div id="lista-comentarios">
          <% if (comentarios.length == 0) { %>
            <p>No existe ningún comentario todavía.</p>
          <% } else { %> 
            <% for (let j=0; j<comentarios.length; j++){ %>

              <div class="comentario_usuario">
                <div class="cab-comentario">
                  <h3> <%= comentarios[j].nombre_completo %> </h3>
                  <p> <%= comentarios[j].publicado %> </p>
                </div>
                <p> <%= comentarios[j].comentario %> </p>
              </div>

            <% } %>
          <% } %>   

        </div>        



      </div>

      


    </section>
    
    

    <!-- <button id="switch-map" onclick="cambio_mapa()">Cambio!</button> -->


    

    




    <%- include('partials/footer.ejs') %>

    <!-- JS de librerias leaflet + plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
    <!-- JS ruta -->
    <script src="/javascripts/script_ruta.js"></script>
    <script src="/javascripts/script_popup.js"></script>

  </body>
</html>
